{% load static %}

<!DOCTYPE html>
<head>
	<title> Daftar Buku </title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buku.css' %}">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/buku.js' %}"></script>
    <!-- <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  -->
    </head>
<body>
<table id="tabel">
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Authors</th>
    <th>Publisher</th>
    <th>Add to favourite</th>
  </tr>
</table>
</body>
</html>

