{% load static %}

<!DOCTYPE html>
<head>
	<title> Selvy Fitriani </title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/me.js' %}"></script>
</head>
<body class="content1">
  <div class="loader"></div>
	<button class="button1" style="text-align: center"> Change the Theme! </button> 
	<img src="http://bit.ly/2RDUH8L" class="center">
<div id="acc">
  <div id="jQuery_accordion">
    			<h2>About Me</h2>
      		<h5> Namaku Selvy Fitriani. Aku adalah orang yang tertarik dengan dunia literasi, penyuka bunga, dan senang menjadi pendengar yang baik. Jadi, ayo berbagi cerita denganku! </h5>
    
    			<h2>My Activity</h2>
      		<h5> Aku sedang menjalani aktivitasku sebagai mahasiswi semester 3 di Fasilkom UI ^^ </h5>
    
    			<h2>Organization</h2>
      		<h5> Saat ini, aku merupakan staff di Departemen Qur'an FUKI Fasilkom UI </h5>
    
    			<h2>Achievement</h2>
          <h5> Soon insyaAllah </h5>
      		</div>
  </div>
</div>
</body>
</html>

