{% load static %}

body{
	background-size: 100%;
}

p{
	color: black;
}

h3{
    font: italic bold 12px/30px Georgia, serif;
}

h5{
    font: 12px/30px Georgia, serif;
}

#acc {
    margin-left: 30%;
    margin-right: 30%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    width: 20%;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2.5%;
}

.content1{
  background-color: pink;
  background-size: 100%;
}
.content1.active{
  background-color: #00c2ec;
  background-size: 100%;
}

.button1{
    background-color: #00c2ec;
    border: none;
    color: pink;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold;
    font-size: 16px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2.5%;
    width: auto;
}
.button1.active{
    background-color: pink;
    border: none;
    color: #00c2ec;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold;
    font-size: 16px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2.5%;
    width: auto;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://chittagongit.com//images/spinner-icon-gif/spinner-icon-gif-23.jpg') 50% 50% no-repeat rgb(249,249,249);
}

