{% load static %}

body{
	background-: url("http://bit.ly/2APCZJH");
	background-repeat: no-repeat;
	background-size: 100%;
}

p{
	color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

.content1{
  background-color: pink;
}
.content1.active{
  background-color: green;
}



