body {
  font: 400 15px/1.8 Lato, sans-serif;
  /*background-image: url('http://bit.ly/2DoerKh');*/
  background-color: green;
  background-size: cover;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: -1; 
}

p{
  margin: 0.25px 0.25px;
  color: black;
}
h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 20px;
  color: black;
}

h1{
  font-size : 50px;
  font: beyond the mountain;
  text-align:  center;
  color: pink;
}

h2{
  font-size : 30px;
  font: verdana-;
  text-align:  center;
  color: pink;
}

/*.content1 {
  background-image: url('http://bit.ly/2DoerKh'); 
}

.content1.active {
  background-image: url('http://bit.ly/2yRdIgU');
}*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
  padding: 10px 10px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: ##0D0E0D;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: ##0D0E0D !important;
}
@media (max-width: 600px) {
  .carousel-caption {
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
  background-color: :#1abc9c;
  color: ##0D0E0D;
}
.bg-1 h3 {color: #18cc48;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: ##0D0E0D;
  color: ##0D0E0D;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: ##0D0E0D;
  color: ##0D0E0D;
}
.modal-header, h4, .close {
  background-color: ##0D0E0D;
  color: ##0D0E0D !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: ##0D0E0D;
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: ##0D0E0D;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
  color: ##0D0E0D !important;
}
.navbar-nav li a:hover {
  color: ##0D0E0D !important;
}
.navbar-nav li.active a {
  color: ##0D0E0D !important;
  background-color: #0D0E0D !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: ##0D0E0D;
  background-color: ##0D0E0D !important;
}
.dropdown-menu li a {
  color: ##0D0E0D !important;
}
.dropdown-menu li a:hover {
  background-color: ##0D0E0D !important;
}
footer {
  background-color: ##0D0E0D;
  color: #0D0E0D;
  padding: 32px;
}
footer a {
  color: #0D0E0D;
}
footer a:hover {
  color: #0D0E0D;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}
