{% load static %}
<!DOCTYPE html>
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<h1 id="hello_kabar" style="text-align:center"> Hello, Apa kabar? </h1>
<div id="home" class="container text-center">
  <img title = "Selvy" src="http://bit.ly/2ydQBNj" width="200" height="200">
</div>
<div class="container">
  <h2>What's on Your Mind? </h2>
  <form method="POST" class="post-form">
  	{% csrf_token %}
    {{ form }}
  <button type="submit" name="bagikan" class="save btn btn-default">Bagikan</button>
  </form>
</div>

<script>
$(document).ready(function(){
    $("#home").click(function(){
        $("p").text("Hehe");
    });
});

$(#).tooltip();
</script>

<div class="container">
<h2 text-align="center"> My Status </h2>

<p>
  Lihat profil saya 
  <a href="profile" target="_blank">disini</a>
</p>

{% for data in my_status %}
<p>[{{data.waktu}}]: {{data.status}}</p><br>
{% endfor %} </div>
