{% load static %}

#tabel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabel td, #c th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabel tr:nth-child(even){background-color: #f2f2f2;}

#tabel tr:hover {background-color: #ddd;}

#tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.buttonLoveClicked{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: orange;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: orange;  }
    100%{   color: orange;    }
}

.favLoc{
    margin-left: 5%;
    margin-bottom: 2%
}


